In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
dados = {
    'País': ['Brail', 'Argentina', 'Argentina', 'Brasil', 'Chile', 'Chile'],
    'Ano': [2005, 2006, 2005, 2006, 2007, 2008],
    'População': [170.1, 30.5, 32.2, 172.6, 40.8, 42.0]
}

df = pd.DataFrame(dados)
df

    Ano       País  População
0  2005      Brail      170.1
1  2006  Argentina       30.5
2  2005  Argentina       32.2
3  2006     Brasil      172.6
4  2007      Chile       40.8
5  2008      Chile       42.0

In [3]:
df2 = pd.read_json('http://mobile-aceite.tcu.gov.br/mapa-da-saude/rest/emprego?quantidade=10000')
df2

,bairro,cep,codPosto,endereco,entidadeConveniada,lat,long,municipio,nome,telefone,uf
0,CENTRO,62840000,2334007-0,"RUA MARIA CALADO, S/N, SL 1008",Sine Estadual - Ceara,-4.182879,-38.130036,Beberibe,PREFEITURA MUNICIPAL DE BEBERIBE/CE,33382594,Ceará
1,CENTRO,63630000,2334051-7,"RUA AUGUSTO VIEIRA, 22",Sine Estadual - Ceara,-5.454113,-39.713988,Pedra Branca,PREFEITURA MUNICIPAL DE PEDRA BRANCA/CE,35151555,Ceará
2,CENTRO,63180000,2333014-7,"RUA SENADOR ALENCAR, 39, LOJA A",Sine Estadual - Ceara,-7.309660,-39.302882,Barbalha,SINE BARBALHA/CE,31021195,Ceará
3,CENTRO,63170000,2333046-5,"RUA CORONEL MIGUEL ARRAIS, 30",Sine Estadual - Ceara,-7.209570,-40.138486,Araripe,SINE ARARIPE/CE,35301617,Ceará
4,CENTRO,62950000,2334012-6,"RUA RAUL NOGUEIRA, 09",Sine Estadual - Ceara,-5.097750,-38.370501,Morada Nova,PREFEITURA MUNICIPAL DE MORADA NOVA/CE,4222442,Ceará
5,ANTONIO BEZERRA,60356530,2333070-8,"AVENIDA PADRE IBIAPINA, 1280",Sine Estadual - Ceara,-3.731862,-38.526670,Fortaleza,SINE BALCAO DE EMPREGO DO SENAI/CE,2143026,Ceará
6,CENTRO,60060390,2333068-6,"RUA DRAGAO DO MAR, 81",Sine Estadual - Ceara,-4.560801,-37.769621,Fortaleza,SINE BALCAO DE EMPREGO CT ARTE/CE,34337732,Ceará
7,CENTRO,63600000,2333066-0,"AV FCO. FRANCA CAMBRAIA, 265",Sine Estadual - Ceara,-5.585042,-39.370829,Senador Pompeu,SINE SENADOR POMPEU/CE,34490383,Ceará
8,MESSEJANA,60840045,2333013-9,"R DOUTOR PERGENTINO MAIA -, 813, A",Sine Estadual - Ceara,-3.831438,-38.487786,Fortaleza,SINE MESSEJANA/CE,31012138,Ceará
9,CENTRO,61940145,2333021-0,"R MUNDICA PAULA, 216",Sine Estadual - Ceara,-3.890743,-38.684115,Maranguape,SINE MARANGUAPE/CE,31012813,Ceará
10,CENTRO,62220000,2334014-2,"AVENIDA DR EPITACIO PINHO, 203",Sine Estadual - Ceara,-4.744267,-40.929622,Poranga,PREFEITURA MUNICIPAL DE PORANGA/CE,36581221,Ceará
11,PARQUE GENIBAU,60534130,2333036-8,"RUA 24 DE OUTUBRO, 334",Sine Estadual - Ceara,-3.752335,-38.602735,Fortaleza,SINE BALCAO DE EMPREGO PARQUE GENIBAU/CE,32943896,Ceará
12,CENTRO,62350000,2334047-9,"RUA 31 DE DEZEMBRO, 102",Sine Estadual - Ceara,-3.854858,-40.920802,Ubajara,SINE DE SAO BENEDITO/CE,6341122,Ceará
13,NOVA RUSSAS,62200000,2334035-5,"RUA GENERAL SAMPAIO, 1337",Sine Estadual - Ceara,-4.701351,-40.565659,Nova Russas,PREFEITURA MUNICIPAL DE NOVA RUSSAS/CE,36720313,Ceará
14,CENTRO,63590000,2334004-5,"RUA ELISEU HERBERT, 306",Sine Estadual - Ceara,-6.534995,-39.902088,Saboeiro,SINE DE SABOEIRO/CE,35261220,Ceará
15,PIRAMBU,60310690,2333053-8,"RUA SAO SERAFIM, 08",Sine Estadual - Ceara,-3.731862,-38.526670,Fortaleza,SINE BALCAO DE EMPREGO C C LUIZA TAVORA/CE,32815250,Ceará
16,ALDEOTA,60135310,2333055-4,"RUA DO ROSARIO, S/N",Sine Estadual - Ceara,-3.744806,-38.496831,Fortaleza,SINE BALCAO DE EMPREGO SAO VICENTE/CE,32245257,Ceará
17,MEIRELES,60115000,2333052-0,"RUA ILDEFONSO ALBANO, 725",Sine Estadual - Ceara,-3.727101,-38.511174,Fortaleza,SINE BALCAO DE EMPREGO DOM LUSTOSA/CE,32531623,Ceará
18,CENTRO,63800000,2333045-7,"RUA DA CRUZ, 90",Sine Estadual - Ceara,-5.197808,-39.300160,Quixeramobim,SINE QUIXERAMOBIM/CE,34414903,Ceará
19,EDSON QUEIROZ,60811340,2333031-7,"AV WASHINGTON SOARES, 1321, UNIFOR",Sine Estadual - Ceara,-3.731862,-38.526670,Fortaleza,SINE UNIV DE FORTALEZA/CE,34773142,Ceará
20,CENTRO,63140000,2334054-1,"RUA DR GENTIL BRAGA, 42",Sine Estadual - Ceara,-6.867300,-39.869229,Assare,PREFEITURA MUNICIPAL DE ASSARE/CE,35351227,Ceará
21,CENTRO,63600000,2334042-8,"RUA SANTOS DUMONT, 265",Sine Estadual - Ceara,-5.585042,-39.370829,Senador Pompeu,PREFEITURA MUNICIPAL DE SENADOR POMPEU,8290383,Ceará
22,CENTRO,63101220,2333005-8,"RUA MONSENHOR ESMERALDO, 686",Sine Estadual - Ceara,-7.232242,-39.408533,Crato,SINE CRATO/CE,31021240,Ceará
23,CENTRO,62420000,2334010-0,"RUA CORONEL JOSE PORFIRIO, 506",Sine Estadual - Ceara,-3.035256,-41.238846,Chaval,PREFEITURA MUNICIPAL DE CHAVAL/CE,36251554,Ceará
24,CENTRO,63250000,2334022-3,"RUA PRESIDENTE VARGAS, S/N",Sine Estadual - Ceara,-7.313555,-38.943577,Milagres,PREFEITURA MUNICIPAL DE MILAGRES/CE,35531770,Ceará
25,CENTRO,60055110,2333069-4,"R PEDRO BORGES T DO ED CLOVIS, 20, ROLIM",Sine Estadual - Ceara,-3.731862,-38.526670,Fortaleza,SINE BALCAO DE EMPREGO CENTRAL FACIL/CE,31316650,Ceará
26,CENTRO,60001970,2333033-3,"RUA 25 DE MARCO, 882, CDL",Sine Estadual - Ceara,-3.731862,-38.526670,Fortaleza,SINE CAMARA DE DIRETORES LOJISTAS/CE,34433063,Ceará
27,SAO FRANCISCO,62960000,2334059-2,"RUA PADRE CLICERIO, 4605",Sine Estadual - Ceara,-5.243919,-38.128516,Tabuleiro do Norte,PREF MUNIC DE TABULEIRO DO NORTE/CE,34241247,Ceará
28,CENTRO,62810000,2334005-3,"PRACA ADAUTO ROSEO, 1229",Sine Estadual - Ceara,-4.715856,-37.354746,Icapui,PREFEITURA MUNICIPAL DE ICAPUI/CE,34321200,Ceará
29,CENTRO,60540260,2333064-3,"RUA BARAO DO RIO BRANCO, 1006",Sine Estadual - Ceara,-3.727181,-38.528637,Fortaleza,SINE BALCAO DE EMPREGO CASA CIDADAO DIOGO/CE,34972162,Ceará
...,...,...,...,...,...,...,...,...,...,...,...
1603,CENTRO,78520000,5133020-2,"AV JABOTA, 1195",Sine Estadual - Mato Grosso,-9.948804,-54.907167,Guaranta do Norte,SINE GUARANTA DO NORTE/MT,35525156,Mato Grosso
1604,BANDEIRANTES,78010020,5131001-5,"RUA BALTAZAR NAVARROS, 567",Sine Estadual - Mato Grosso,-15.601937,-56.089887,Cuiaba,SINE CUIABA/MT,36132100,Mato Grosso
1605,CENTRO,78820000,5133012-1,"RUA JURUCE, 1227",Sine Estadual - Mato Grosso,-15.957712,-54.975586,Jaciara,SINE JACIARA/MT,34612312,Mato Grosso
1606,CENTRO,78780000,5133015-6,"ALTO ARAGUAIA - RUA ANTONIO AIRES FAVERO, S/N",Sine Estadual - Mato Grosso,-17.313950,-53.219835,Alto Araguaia,SINE ALTO ARAGUAIA/MT,34812571,Mato Grosso
1607,CENTRO,78365000,5133017-2,"RUA DO CARA, 1380",Sine Estadual - Mato Grosso,-13.542572,-58.818951,Sapezal,SINE SAPEZAL/MT,33832061,Mato Grosso
1608,CENTRO,78635000,5133014-8,"RUA 08 ESQUINA COM RUA 05 - AGUA BOA, 390",Sine Estadual - Mato Grosso,-14.047489,-52.159383,Agua Boa,SINE AGUA BOA/MT,34681214,Mato Grosso
1609,CENTRO,75860000,5233006-0,"PRACA DOS TRES PODERES, 88",Sine Estadual - Goias,-18.447644,-50.455160,Quirinopolis,SINE QUIRINOPOLIS/GO,6511020,Goiás
1610,CENTRO,75380000,5233018-4,"AV. RAIMUNDO DE AQUINO, 99, VILA PAI ETE",Sine Estadual - Goias,-16.652160,-49.493117,Trindade,SINE TRINDADE/GO,0,Goiás
1611,ITABERAI,76630000,5233038-9,"PRACA BALDUINO DA SILVA CALDAS, S/N",Sine Estadual - Goias,-16.022249,-49.800487,Itaberai,SINE ITABERAI/GO,33752526,Goiás
1612,JARDIM BRASILIA,72910000,5233027-3,"AV. JK QD. 24 LOTES 4/5, 4/5, 000",Sine Estadual - Goias,-15.734713,-48.283173,Aguas Lindas de Goias,SINE AGUAS LINDAS/GO,36135780,Goiás
1613,CENTRO,76200000,5233004-4,"PRACA DA LIBERDADE, 01",Sine Estadual - Goias,-16.440211,-51.118511,Ipora,SINE IPORA/GO,6741010,Goiás
1614,CAMPINAS,74503101,5233025-7,"AV.ANHANGUERA QD.89 LT.07, S/N",Sine Estadual - Goias,-16.680140,-49.293436,Goiania,SINE VAPT VUPT CAMPINAS/GO,32019591,Goiás
1615,VL RES FURNAS,76450000,5233007-9,"AV MARANHAO ESQ C/ANGRA REIS, 1799",Sine Estadual - Goias,-13.530850,-48.221014,Minacu,SINE MINACU/GO,3791268,Goiás
1616,CENTRO,75650000,5233035-4,"RUA BARAO DO RIO BRANCO, 586",Sine Estadual - Goias,-17.735484,-49.102605,Morrinhos,SINE MORRINHOS/GO,36615781,Goiás
1617,CENTRO,93510320,4341002-2,"RUA JOAQUIM PEDRO SOARES, 349",Sine Municipal - Novo Hamburgo,-29.683770,-51.126490,Novo Hamburgo,SINE MUNICIPAL NOVO HAMBURGO AME/RS,35931680,Rio Grande do Sul
1618,JACAN?,2260000,3542043-0,"AVENIDA LUIS STAMATIS, 300",Sine Municipal - Sao Paulo,-23.468182,-46.582170,Sao Paulo,SINE MUNICIPAL SAO PAULO CAT JACANA/SP,33971063,São Paulo
1619,VILA DOS ANDRADES,2610000,3542042-1,"AVENIDA JOAO MARCELINO BRANCO, 95",Sine Municipal - Sao Paulo,-23.476237,-46.664630,Sao Paulo,SINE MUNICIPAL SAO PAULO CAT BRASILANDIA/SP,39815056,São Paulo
1620,VILA MARIA ALTA,2127020,3542044-8,"RUA GENERAL MENDES, 111",Sine Municipal - Sao Paulo,-23.501418,-46.591359,Sao Paulo,SINE MUNICIPAL SAO PAULO CAT VILA MARIA/SP,29678106,São Paulo
1621,CENTRO,76550000,5233051-6,"PORANGATU, 0, RODOSHOPPING",Sine Estadual - Goias,-13.432916,-49.142402,Porangatu,SINE VAPT VUPT PORANGATU/GO,0,Goiás
1622,CENTRO HISTORICO,57160000,2733016-8,"RUA BARAO DE ALAGOAS, 47",Sine Estadual - Alagoas,-9.716793,-35.893997,Marechal Deodoro,SINE MARECHAL DEODORO/AL,87155017,Alagoas
1623,SANTO ANTONIO,32684014,3133154-8,"R ARACA, 31, SEMAS TERESO",Sine Estadual - Minas Gerais,-19.967308,-44.201190,Betim,SINE BETIM TERESOPOLIS/MG,35943013,Minas Gerais
1624,CENTRO,35685000,3133155-6,"ITATIAIUCU, 97",Sine Estadual - Minas Gerais,-20.198739,-44.421499,Itatiaiucu,SINE ITATIAIUCU/MG,35721205,Minas Gerais
1625,NOVA TERRA,39600000,3133157-2,"ARACUAI, 220",Sine Estadual - Minas Gerais,-16.849351,-42.065425,Aracuai,SINE UAI ARACUAI/MG,37313005,Minas Gerais
1626,SANTA MARIA,38050106,3133159-9,"AV SANTA BEATRIZ DA SILVA - DE 104, 1880",Sine Estadual - Minas Gerais,-19.757216,-47.948061,Uberaba,SINE UAI UBERABA/MG,33215045,Minas Gerais
1627,CENTRO,38700052,3133158-0,"R JOSE DE SANTANA - DE 202 AO FIM, 1307",Sine Estadual - Minas Gerais,-18.587258,-46.514675,Patos de Minas,SINE UAI PATOS DE MINAS/MG,38213445,Minas Gerais
1628,CENTRO,37200000,3133156-4,"LAVRAS, 79",Sine Estadual - Minas Gerais,-21.274155,-44.983067,Lavras,SINE UAI LAVRAS/MG,38266661,Minas Gerais
1629,BARRO PRETO,30190002,3133153-0,"AV AUGUSTO DE LIMA - DE 1001 AO FI, 1833",Sine Estadual - Minas Gerais,-19.916681,-43.934493,Belo Horizonte,SINE UAI BARRO PRETO/MG,32952096,Minas Gerais
1630,CENTO,36240000,3133152-1,"PERPENDICULAR AV. PRE GETULIO VARG, 04, ALT 30...",Sine Estadual - Minas Gerais,NaN,NaN,Santos Dumont,SINE SANTOS DUMONT/MG,32527400,Minas Gerais
1631,CENTRO,89201010,4241001-0,"RUA ABDON BATISTA, 342",Sine Municipal - Joinville,-26.305977,-48.841676,Joinville,SINE MUNICIPAL JOINVILLE CEPAT/SC,34670978,Santa Catarina
1632,PINA,51110160,2633030-0,"AVENIDA REPUBLICA DO LIBANO, 251",Sine Estadual - Pernambuco,-8.087429,-34.891251,Recife,SINE EXPRESSO CIDADAO RIOMAR RECIFE/PE,31838044,Pernambuco

In [4]:
df3 = pd.read_csv('https://raw.githubusercontent.com/nybbles/kaggle/master/train.csv')
df3

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
861,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
df3[['age', 'name']]

      age                                               name
0    22.0                            Braund, Mr. Owen Harris
1    38.0  Cumings, Mrs. John Bradley (Florence Briggs Th...
2    26.0                             Heikkinen, Miss. Laina
3    35.0       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4    35.0                           Allen, Mr. William Henry
5     NaN                                   Moran, Mr. James
6    54.0                            McCarthy, Mr. Timothy J
7     2.0                     Palsson, Master. Gosta Leonard
8    27.0  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9    14.0                Nasser, Mrs. Nicholas (Adele Achem)
10    4.0                    Sandstrom, Miss. Marguerite Rut
11   58.0                           Bonnell, Miss. Elizabeth
12   20.0                     Saundercock, Mr. William Henry
13   39.0                        Andersson, Mr. Anders Johan
14   14.0               Vestrom, Miss. Hulda Amanda Adolfina
15   55.0                   Hewlett, Mrs. (Mary D Kingcome)
16    2.0                               Rice, Master. Eugene
17    NaN                       Williams, Mr. Charles Eugene
18   31.0  Vander Planke, Mrs. Julius (Emelia Maria Vande...
19    NaN                            Masselmani, Mrs. Fatima
20   35.0                               Fynney, Mr. Joseph J
21   34.0                              Beesley, Mr. Lawrence
22   15.0                        McGowan, Miss. Anna "Annie"
23   28.0                       Sloper, Mr. William Thompson
24    8.0                      Palsson, Miss. Torborg Danira
25   38.0  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26    NaN                            Emir, Mr. Farred Chehab
27   19.0                     Fortune, Mr. Charles Alexander
28    NaN                      O'Dwyer, Miss. Ellen "Nellie"
29    NaN                                Todoroff, Mr. Lalio
..    ...                                                ...
861  21.0                        Giles, Mr. Frederick Edward
862  48.0  Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863   NaN                  Sage, Miss. Dorothy Edith "Dolly"
864  24.0                             Gill, Mr. John William
865  42.0                           Bystrom, Mrs. (Karolina)
866  27.0                       Duran y More, Miss. Asuncion
867  31.0               Roebling, Mr. Washington Augustus II
868   NaN                        van Melkebeke, Mr. Philemon
869   4.0                    Johnson, Master. Harold Theodor
870  26.0                                  Balkic, Mr. Cerin
871  47.0   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872  33.0                           Carlsson, Mr. Frans Olof
873  47.0                        Vander Cruyssen, Mr. Victor
874  28.0              Abelson, Mrs. Samuel (Hannah Wizosky)
875  15.0                   Najib, Miss. Adele Kiamie "Jane"
876  20.0                      Gustafsson, Mr. Alfred Ossian
877  19.0                               Petroff, Mr. Nedelio
878   NaN                                 Laleff, Mr. Kristo
879  56.0      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880  25.0       Shelley, Mrs. William (Imanita Parrish Hall)
881  33.0                                 Markun, Mr. Johann
882  22.0                       Dahlberg, Miss. Gerda Ulrika
883  28.0                      Banfield, Mr. Frederick James
884  25.0                             Sutehall, Mr. Henry Jr
885  39.0               Rice, Mrs. William (Margaret Norton)
886  27.0                              Montvila, Rev. Juozas
887  19.0                       Graham, Miss. Margaret Edith
888   NaN           Johnston, Miss. Catherine Helen "Carrie"
889  26.0                              Behr, Mr. Karl Howell
890  32.0                                Dooley, Mr. Patrick

[891 rows x 2 columns]

In [11]:
df3.loc[2:20]

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S

In [14]:
df3.head(10)

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [22]:
filtro = df3[df3.sex == 'male']
filtro = filtro[filtro.survived == 1]
filtro = filtro[filtro.pclass == 3]
filtro

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
36,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
65,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
74,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
81,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
107,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S
125,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C
127,1,3,"Madsen, Mr. Fridtjof Arne",male,24.00,0,0,C 17369,7.1417,NaN,S
146,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S
165,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S
204,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S
207,1,3,"Albimona, Mr. Nassef Cassem",male,26.00,0,0,2699,18.7875,NaN,C
220,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S
261,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077,31.3875,NaN,S
267,1,3,"Persson, Mr. Ernst Ulrik",male,25.00,1,0,347083,7.7750,NaN,S
271,1,3,"Tornquist, Mr. William Henry",male,25.00,0,0,LINE,0.0000,NaN,S
283,1,3,"Dorking, Mr. Edward Arthur",male,19.00,0,0,A/5. 10482,8.0500,NaN,S
286,1,3,"de Mulder, Mr. Theodore",male,30.00,0,0,345774,9.5000,NaN,S
301,1,3,"McCoy, Mr. Bernard",male,NaN,2,0,367226,23.2500,NaN,Q
338,1,3,"Dahl, Mr. Karl Edwart",male,45.00,0,0,7598,8.0500,NaN,S
348,1,3,"Coutts, Master. William Loch ""William""",male,3.00,1,1,C.A. 37671,15.9000,NaN,S
391,1,3,"Jansson, Mr. Carl Olof",male,21.00,0,0,350034,7.7958,NaN,S
400,1,3,"Niskanen, Mr. Juha",male,39.00,0,0,STON/O 2. 3101289,7.9250,NaN,S
414,1,3,"Sundman, Mr. Johan Julian",male,44.00,0,0,STON/O 2. 3101269,7.9250,NaN,S
429,1,3,"Pickard, Mr. Berk (Berk Trembisky)",male,32.00,0,0,SOTON/O.Q. 392078,8.0500,E10,S
444,1,3,"Johannesen-Bratthammer, Mr. Bernt",male,NaN,0,0,65306,8.1125,NaN,S
455,1,3,"Jalsevac, Mr. Ivan",male,29.00,0,0,349240,7.8958,NaN,C
489,1,3,"Coutts, Master. Eden Leslie ""Neville""",male,9.00,1,1,C.A. 37671,15.9000,NaN,S
509,1,3,"Lang, Mr. Fang",male,26.00,0,0,1601,56.4958,NaN,S
510,1,3,"Daly, Mr. Eugene Patrick",male,29.00,0,0,382651,7.7500,NaN,Q
553,1,3,"Leeni, Mr. Fahim (""Philip Zenni"")",male,22.00,0,0,2620,7.2250,NaN,C
569,1,3,"Jonsson, Mr. Carl",male,32.00,0,0,350417,7.8542,NaN,S
579,1,3,"Jussila, Mr. Eiriik",male,32.00,0,0,STON/O 2. 3101286,7.9250,NaN,S
622,1,3,"Nakid, Mr. Sahid",male,20.00,1,1,2653,15.7417,NaN,C
643,1,3,"Foo, Mr. Choong",male,NaN,0,0,1601,56.4958,NaN,S
664,1,3,"Lindqvist, Mr. Eino William",male,20.00,1,0,STON/O 2. 3101285,7.9250,NaN,S
692,1,3,"Lam, Mr. Ali",male,NaN,0,0,1601,56.4958,NaN,S
709,1,3,"Moubarek, Master. Halim Gonios (""William George"")",male,NaN,1,1,2661,15.2458,NaN,C
744,1,3,"Stranden, Mr. Juho",male,31.00,0,0,STON/O 2. 3101288,7.9250,NaN,S
751,1,3,"Moor, Master. Meier",male,6.00,0,1,392096,12.4750,E121,S
762,1,3,"Barah, Mr. Hanna Assi",male,20.00,0,0,2663,7.2292,NaN,C
788,1,3,"Dean, Master. Bertram Vere",male,1.00,1,2,C.A. 2315,20.5750,NaN,S
803,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C
804,1,3,"Hedman, Mr. Oskar Arvid",male,27.00,0,0,347089,6.9750,NaN,S
821,1,3,"Lulic, Mr. Nikola",male,27.00,0,0,315098,8.6625,NaN,S
828,1,3,"McCormack, Mr. Thomas Joseph",male,NaN,0,0,367228,7.7500,NaN,Q
838,1,3,"Chip, Mr. Chang",male,32.00,0,0,1601,56.4958,NaN,S
869,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S

In [42]:
filtro = df3[(df3.sex == 'male') & (df3.survived == 1) & (df3.pclass == 3)]
filtro

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
36,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
65,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
74,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
81,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
107,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S
125,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C
127,1,3,"Madsen, Mr. Fridtjof Arne",male,24.00,0,0,C 17369,7.1417,NaN,S
146,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S
165,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S
204,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S
207,1,3,"Albimona, Mr. Nassef Cassem",male,26.00,0,0,2699,18.7875,NaN,C
220,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S
261,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077,31.3875,NaN,S
267,1,3,"Persson, Mr. Ernst Ulrik",male,25.00,1,0,347083,7.7750,NaN,S
271,1,3,"Tornquist, Mr. William Henry",male,25.00,0,0,LINE,0.0000,NaN,S
283,1,3,"Dorking, Mr. Edward Arthur",male,19.00,0,0,A/5. 10482,8.0500,NaN,S
286,1,3,"de Mulder, Mr. Theodore",male,30.00,0,0,345774,9.5000,NaN,S
301,1,3,"McCoy, Mr. Bernard",male,NaN,2,0,367226,23.2500,NaN,Q
338,1,3,"Dahl, Mr. Karl Edwart",male,45.00,0,0,7598,8.0500,NaN,S
348,1,3,"Coutts, Master. William Loch ""William""",male,3.00,1,1,C.A. 37671,15.9000,NaN,S
391,1,3,"Jansson, Mr. Carl Olof",male,21.00,0,0,350034,7.7958,NaN,S
400,1,3,"Niskanen, Mr. Juha",male,39.00,0,0,STON/O 2. 3101289,7.9250,NaN,S
414,1,3,"Sundman, Mr. Johan Julian",male,44.00,0,0,STON/O 2. 3101269,7.9250,NaN,S
429,1,3,"Pickard, Mr. Berk (Berk Trembisky)",male,32.00,0,0,SOTON/O.Q. 392078,8.0500,E10,S
444,1,3,"Johannesen-Bratthammer, Mr. Bernt",male,NaN,0,0,65306,8.1125,NaN,S
455,1,3,"Jalsevac, Mr. Ivan",male,29.00,0,0,349240,7.8958,NaN,C
489,1,3,"Coutts, Master. Eden Leslie ""Neville""",male,9.00,1,1,C.A. 37671,15.9000,NaN,S
509,1,3,"Lang, Mr. Fang",male,26.00,0,0,1601,56.4958,NaN,S
510,1,3,"Daly, Mr. Eugene Patrick",male,29.00,0,0,382651,7.7500,NaN,Q
553,1,3,"Leeni, Mr. Fahim (""Philip Zenni"")",male,22.00,0,0,2620,7.2250,NaN,C
569,1,3,"Jonsson, Mr. Carl",male,32.00,0,0,350417,7.8542,NaN,S
579,1,3,"Jussila, Mr. Eiriik",male,32.00,0,0,STON/O 2. 3101286,7.9250,NaN,S
622,1,3,"Nakid, Mr. Sahid",male,20.00,1,1,2653,15.7417,NaN,C
643,1,3,"Foo, Mr. Choong",male,NaN,0,0,1601,56.4958,NaN,S
664,1,3,"Lindqvist, Mr. Eino William",male,20.00,1,0,STON/O 2. 3101285,7.9250,NaN,S
692,1,3,"Lam, Mr. Ali",male,NaN,0,0,1601,56.4958,NaN,S
709,1,3,"Moubarek, Master. Halim Gonios (""William George"")",male,NaN,1,1,2661,15.2458,NaN,C
744,1,3,"Stranden, Mr. Juho",male,31.00,0,0,STON/O 2. 3101288,7.9250,NaN,S
751,1,3,"Moor, Master. Meier",male,6.00,0,1,392096,12.4750,E121,S
762,1,3,"Barah, Mr. Hanna Assi",male,20.00,0,0,2663,7.2292,NaN,C
788,1,3,"Dean, Master. Bertram Vere",male,1.00,1,2,C.A. 2315,20.5750,NaN,S
803,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C
804,1,3,"Hedman, Mr. Oskar Arvid",male,27.00,0,0,347089,6.9750,NaN,S
821,1,3,"Lulic, Mr. Nikola",male,27.00,0,0,315098,8.6625,NaN,S
828,1,3,"McCormack, Mr. Thomas Joseph",male,NaN,0,0,367228,7.7500,NaN,Q
838,1,3,"Chip, Mr. Chang",male,32.00,0,0,1601,56.4958,NaN,S
869,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S

In [44]:
filtro.shape

(47, 11)